/* Fira code everywhere on the UI */
*:not([class*="icon"]):not([class*="glyph"]):not([class*="fa"]):not(i):not(span) {font-family: "Fira Code" !important;}

@-moz-document url-prefix(about:home), url-prefix(about:newtab), url-prefix(about:privatebrowsing) {
  /* Some shadow on logo and wordmark */
  .logo-and-workmark > .logo {
      filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 10px black);
  }

  /* New section/recent activity */
  span[data-l10n-id="newtab-section-header-recent-activity"] {
      filter: 0px 0px 12px dimgray, 1px 1px 12px #000, -1px -1px 12px #000;
  }
}

/** START: Font size modifications **/
#urlbar-input,
.urlbarView-title,
.urlbarView-url,
.urlbarView-title-separator::before,
#identity-box:is(.notSecure) {
  /* Smaller font size because of Fira Code */
  font-size: 1rem !important;
}

#urlbar-label-switchtab {
  /* Smaller font size because of Fira Code */
  font-size: 0.9rem !important;
}
/** END: Font size modifications **/

.downloadButton {
  /* Unfuck the download button width */
  min-width: unset !important;
}

/** START: URL bar modifications **/
#urlbar:not([breakout-extend]) #urlbar-input {
  /* Center the text when it's not in breakout mode */
  text-align: center !important;
}

#urlbar[breakout-extend] {
  /* Give box-shadow animation */
  backdrop-filter: blur(0.4rem) !important;
  transition: box-shadow 0.4s ease-in-out;
}

#urlbar[breakout-extend] {
  /* Add backdrop filter and background color to it */
  backdrop-filter: blur(0.4rem) !important;
  box-shadow: 0 0 20px 2px var(--zen-primary-color);
}

#urlbar[breakout-extend] #urlbar-background {
  /* Add background color to the urlbar background breakout */
  background: rgba(18, 18, 18, 0.6) !important;
  backdrop-filter: blur(0.4rem) !important;
}

#urlbar[breakout-extend='true'] #urlbar-background {
  backdrop-filter: blur(0.5rem) !important;
}

.urlbarView-row[selected] {
  color: #fff !important;
}

#urlbar[open][zen-floating-urlbar="true"] {
  width: 45vw !important;
}

#urlbar-container {
  /* Enable blending so glossy blur is available */
  mix-blend-mode: multiply;
}
/** END: URL bar modifications **/

/** START: Highlight active tab more **/
.tabbrowser-tab:not([zen-essential="true"]) .tab-background {
  position: relative;
}

.tabbrowser-tab:not([zen-essential="true"]) .tab-background[selected=""]::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--zen-primary-color);
}
/** END: Highlight active tab more **/

/* START: Background adjustment/transparent/mica styling */
:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  #tabbrowser-tabpanels {
    -moz-osx-font-smoothing: grayscale;
    isolation: isolate;
    /* Unset to avoid performance drops */
    mix-blend-mode: unset !important;
  }
}

#zen-main-app-wrapper,
#browser {
  /* background-color: rgb(39, 103, 138, 0.3) !important; */
  background-color: rgba(6, 65, 98, 0.4) !important;
}
/* END: Background adjustment/transparent/mica styling */

/* START: Tab sidebar */
#tabbrowser-tabs {
  /* Disable window dragging on the whole vertical tabs except the bottom part */
  -moz-window-dragging: no-drag !important;
}

#zen-media-controls-toolbar toolbaritem {
  /* More transparent toolbar for Media controls */
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(0.5rem);
}

#sidebar-box {
  /* Make the sidebar more transparent */
  background-color: rgba(0, 0, 0, 0.1) !important;
}
@-moz-document url("chrome://browser/content/syncedtabs/sidebar.xhtml") {
  body {
    /* Make the sidebar more transparent */
    background-color: transparent !important;
  }
  :root {
    background-color: transparent !important;
  }
}
/* END: Tab sidebar */

/* START: Scroller adjustment */
#autoscroller {
  @media (-moz-windows-mica-popups) {
    --panel-border-color: rgba(0,0,0,.4) !important;
    --panel-background: rgba(249,249,250,.8) no-repeat center var(--autoscroll-background-image) !important;
    --panel-shadow-margin: 0px !important;
  }
}
/* END: Scroller adjustment */